cloud_id                 = "b1g778afs0hng5nglruf"
folder_id                = "b1ga20mtlbn6bil3cte6"
#image_id                 = "fd8rjre48ak8imeqlmo4"
subnet_id                = "e9brabaduasj637dfnrs"
token			 = "y0_AgAAAAAqhmqzAATuwQAAAAD3cF3li2aNc80WRxq2m_HOcxyaE84qnMg"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
app_disk_image           = "fd8rjre48ak8imeqlmo4" 
db_disk_image            = "fd8rjre48ak8imeqlmo4"
